{% if type == 'none' %}
    <span class="badge bg-secondary">None</span>
{% elseif type == 'error' %}
    <span class="badge bg-danger">Error</span>
{% elseif type == 'feature' %}
    <span class="badge bg-success">Feature</span>
{% endif %}