{% extends 'mail.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <p>Email Confirm Link:</p>
    {% set url = url('profile.email.confirm',{'token': token}) %}
    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}