<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('work.projects') }}">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('work.projects.roles') }}">Roles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('work.projects.tasks') }}">Tasks</a>
    </li>
</ul>